body{
    background-color:#333B40;
}
header {
    background-color:#333B40;
    text-align:center;
    color:#fff;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:40px;
    padding:5px;
    font-weight:lighter;
    margin:0px;
    font-size:20pt;
    z-index:5;
    box-shadow:0px 5px 5px rgba(0,0,0,0.3);
}
#res{
    margin-top:15px;
    text-align:center;
}
.main{
    margin-top:50px;
}
 input[type="text"]:focus, input[type="tel"]:focus, .uneditable-input:focus {
     border-color: #7DB343;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
     outline: 0 none;
}
.btn-success{
    background-color:#7DB343;
}
.btn-success:hover{
    background-color:#7DB343;
}
.btn-success:active{
    background-color:#7DB343;
}
